.buythelatest_section{
    margin-top:20px;
}
#latest_style{
    font-size:55px;
}
#buythe_style{
    font-size:35px;
    font-weight:500;
}
.product{
    margin-top:30px;
    padding:40px;
}
.line-1{
    position: relative;
    top: 50%;  
    width: 13em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    /* font-size: 180%; */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
            blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 20em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.owl-stage{
    width:100% !important;
}
.owl-item{
    padding:10px;
}
.owl-item p{
    font-size:15px;
}
.owl-item:hover{
    color : white !important;
    background-color:#800e13;
    transition: all .4s ease-in;
    border-radius : 50px;
}
.owl-item:hover p{
    color : white !important;
    /* background-color:#800e13; */
}
@media (max-width: 767px) {  
    @keyframes typewriter{
        from{width: 0;}
        to{width: 10em;}
        }
    .mycards img{
        height:200px !important;
      }
      
#mycards{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.code_products{
    font-size:1.9vw !important;
}
.name_products{
    font-size:2.1vw !important;
}

#tulisan_best_seller{
    font-size:13px !important;
}
#spacing_best_seller_mobile{
    display:block !important;
  }


#gambar_product{
    height:180px !important;
}
#spacing_best_seller_mobile{
display:block !important;
}
.line-1{
font-size:15px;
}
#tulisan_best_seller{
    font-size:13px !important;
}
.garis{
display:none !important;
}


#footer_follow_us{
font-size: 2vw;
}
#footer_instagram{
width:15vw !important;
font-size:1.5vw !important;
}
#footer_tiktok{
width:15vw !important;
font-size:1.5vw !important;
}
#footer_shopee{
width:15vw !important;
font-size:1.5vw !important;
}

#footer_contact_us{
margin-top:20px !important;
width:105px !important;
font-size:2vw !important;
}
#footer_admin_1{
width:135px !important;
font-size:2vw !important;
}
#footer_admin_2{
width:135px !important;
font-size:2vw !important;
}
#footer_ayn_collection{
font-size: 2.5vw;
}

#footer_tagline{
font-size: 2vw !important;
}
#kotak_ayn_collection{
margin-top:20px !important;
}


.description_product{
font-size: 1.8vw !important;
}
.category_product{
font-size:3vw !important;
}
#limitideas{
font-size:2.2vw !important;
bottom:100px !important;left:25px;
}
#pesan_wa{
font-size:10px !important;
}

}


@media (min-width: 768px) { 
    @keyframes typewriter{
        from{width: 0;}
        to{width: 5em;}
        }
    #spacing_best_seller_mobile{
        display:block !important;
      }
      .mycards img{
        height:300px !important;
      }
      .code_products{
        font-size:1.2vw !important;
    }

    #mycards{
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
    }
#spacing_best_seller_mobile{
display:block !important;
}
.line-1{
    font-size:15px;
    }

    #tulisan_best_seller{
        font-size:13px !important;
    }
#footer_follow_us{
font-size: 1.5vw;
}
#footer_instagram{
width:105px !important;
font-size:1vw !important;
}
#footer_tiktok{
width:105px !important;
font-size:1vw !important;
}
#footer_shopee{
width:105px !important;
font-size:1vw !important;
}

#kotak_ayn_collection{
margin-top:20px ;
}
#footer_tagline{
font-size: 1vw;
}


}


@media (min-width: 992px) { 
    #spacing_best_seller_mobile{
        display:block !important;
      }
    #mycards{
        text-align:center;
        grid-template-columns: repeat(4, 3fr);
        justify-items: center;
        align-items: center;
    }
#footer_follow_us{
font-size: 2vw;
}
#footer_instagram{
width:135px !important;
font-size:1vw !important;
}
#footer_tiktok{
width:135px !important;
font-size:1vw !important;
}
#footer_shopee{
width:135px !important;
font-size:1vw !important;
}




}

.parent {
    display: flex;
    flex-wrap: wrap;
  }
  
  .child {
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
    height: 100px;
    background-color: blue;
  }